<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=beautyprodsstorage;AccountKey=egEBBYZOxmPmGDL09KR80d2uB4Yn8h2+OLHml0/GX5wNN1z5LFig8uoileC1Qxz9uubZHedh05RVRZx4/ANFPw==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=beautyprodsstorage;AccountKey=egEBBYZOxmPmGDL09KR80d2uB4Yn8h2+OLHml0/GX5wNN1z5LFig8uoileC1Qxz9uubZHedh05RVRZx4/ANFPw==;EndpointSuffix=core.windows.net" />
  <!--<add name="BeautyProdsEntities" connectionString="metadata=res://*/BeautyProdsEF.csdl|res://*/BeautyProdsEF.ssdl|res://*/BeautyProdsEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LEN320-1442;initial catalog=BeautyProds;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="BeautyProdsEntities" connectionString="metadata=res://*/BeautyProdsEF.csdl|res://*/BeautyProdsEF.ssdl|res://*/BeautyProdsEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= azureproduction.database.windows.net;initial catalog=BeautyProds;persist security info=False;user id=marceloAdmin;password=porrocasql1$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>